.blocks{
  display:flex;
  flex-direction:row;
  flex-wrap: wrap;
  width:100%;
  margin:auto;
  background-color: #F8EFFA;
  overflow: scroll;
}

.block{
  display: flex;
  text-align: center;
  flex-direction: column;
  min-width:170px;
  margin-right: 50px;
  margin-top: 50px;
  border: 2px solid #D51919;
  border-radius: 15px;
}

.computer-number{
  width: 100%;
}

.free{
  background-color: Green;
  color:white;
}

.unfree{
  background-color: red;
}
