.header{
  display:flex;
  flex-wrap: nowrap;
  flex-direction:row;
  max-height:15%;
  min-width: 95%;
}

.header_user{
  display:flex;
  flex-wrap: nowrap;
  flex-direction:row;
  align-items: center;
  width: 100% ;
  justify-content: space-between;
}

.header__logo{
  margin-left:30px;
  color:#b30038;
  font-size:30px;
}

.menu__button{
  width:40px;
  height:40px;
}
