.link{
  text-decoration: none;
}

.menu{
  display:flex;
  flex-direction:column;
  flex-wrap: wrap;
  margin-right:40px;
  margin-left:auto;
  width:20%;;
}

.menu__block{
  background-color: white;
  text-align: center;
  display:flex;
  width: 250px;
  margin-top:20px;
  height: 30px;
  font-size:20px;
  color:#ff2f2f;
  border: 2px solid #D51919;
  border-radius: 15px;
}

.book__button{
  width: 200px;
  margin:10px;
  color:#D51919;
  border: 2px solid #D51919;
  border-radius: 15px;
}

.book__button:hover{
  background-color: #D51919;
  color:white;
}

.menu__block:hover{
  background-color: #D51919;
  color:white;
}


.hidden{
  display:none;
}
