<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{ item.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Ядер: {{ item.cpuCores }}</li>
        <li class="list-group-item">Оперативная память: {{ item.ram }}</li>
        <li class="list-group-item">Оперативная память: {{ item.ram }}</li>
        <li class="list-group-item">Память ssd: {{ item.ssd }}</li>
        <li class="list-group-item">Память hdd: {{ item.hdd }}</li>
        <li class="list-group-item">Пропускная способность: {{ item.bandwidth }}</li>
        <li class="list-group-item">Операционная система: {{ item.operatingSystem }}</li>
        <li class="list-group-item">IP: {{ item.ipv6 }}</li>
        <li class="list-group-item">Пароль: {{ item.password }}</li>
    </ul>
</div>