{% extends "base.html" %}
{% load static %}

{% block style %}<link rel="stylesheet" href="{% static 'css/login.css' %}">{% endblock %}
{% block content %}
    <section class="header">
        <div class="header__logo">
            <h1>DIY VPS</h1>
        </div>
    </section>
    <section class="content__form">
        <form action="" method="POST">
            <div class="post">
                <input class="input" placeholder="Введите логин" type="text" id="name" name="name" required>
                <br><br>
            </div>
            <div class="post">
                <input class="input" placeholder="Введите пароль" type="password" id="password" name="password"
                       required>
                <br><br>
            </div>
            <div class="post">
                <input class="input" placeholder="Повторите пароль" type="password" id="password" name="password"
                       required>
                <br><br>
            </div>
            <button class="submit__button submit__button-reg" type="submit">Войти</button>
        </form>
    </section>
    <script src="../static/scripts/script.js"></script>
{% endblock %}
